/*
  Google fonts
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
*/

/*
  Variables
*/
$nav__text--color: #efefef;
$nav__height--size: 64px;
$secondary: #23374d;
$menu-text-color: #212121;

$OpenSans: 'Open Sans', sans-serif;
$QuickSand: 'Quicksand', sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $OpenSans;
}

em {
  font-style: normal;
  font-weight: bolder;
  font-size: 1.1rem;
  color: #db3056;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.header {
  @extend .flex-center;
  background-color: $nav__text--color;
  height: $nav__height--size;
  padding: 0 64px;
  font-family: $QuickSand;
}

.header__menu {
  ul {
    display: flex;
  }

  li {
    list-style: none;
    margin-left: 16px;
  }

  li a {
    color: $menu-text-color;
    text-decoration: none;
  }

  li a:hover {
    text-decoration: underline;
  }
}

.header__welcome {
  font-size: 16px;
  font-weight: bold;
}

/*
  SECTION DESIGN
*/
.section {
  @extend .grid-center;
  height: calc(100vh - 64px);
}

.section__img {
  display: grid;
  justify-content: center;
  align-items: center;
}
.section__img img{
  height: 150px;
}
.section__title {
  font-size: 24px;
}
.section__description {
  font-size: 16px;
}
.button {
  height: 32px;
  width: 300px;
  border: 0;
  border-radius: 24px;
  margin-top: 16px;
}
/*
  MEDIA CONFIGURATION
*/
@media only screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header {
    justify-content: center;
  }

  .section__content {
    padding: 0 32px;
  }
}